.Rhistory
.Rprofile
.Rproj.user/
validating_opensource_mt.Rproj

000_README.Rmd
000_README.log

Makefile

_backup/
_test/
_tmp/
misc/
renv/

dataverse.txt
*.zip
experiments_logs.tsv
slurm_jobs_history.tsv
translation_jobs.tsv
get_r_requirements.R
list_required_packages.R
replication_run.log
tree_view.png

